
<img src="{{item.imageUrl}}" class="card-img-top img" alt="item.imageAlt">
<h5 class="card-title">{{item.title| uppercase}}</h5>
<p class="card-text">{{item.description}}</p>
<p class="card-text">${{item.price}}/-</p>
<button type="button" class="btn btn-primary"  (click)="add()">Add to cart</button><br>
<button type="button" class="btn btn-secondary" [routerLink]="['/productdetails',item.id]" routerLinkActive="active" >Details</button><br>
<button type="button" class="btn btn-success" [routerLink]="['/addproduct',item.id]" routerLinkActive="active" >Edit</button><br>
<button type="submit" class="btn btn-warning" (click)="delete(item.id)" >Delete</button>
